<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.6.0</string>

  <key>LSArchitecturePriority</key>
  <array>
    <string>x86_64</string>
  </array>

  <key>CFBundleIconFile</key>
  <string>digitalcoin.icns</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>CFBundleGetInfoString</key>
  <string>4.0.1, Copyright © 2009-2017 The digitalcoin Core developers</string>

  <key>CFBundleShortVersionString</key>
  <string>4.0.1</string>

  <key>CFBundleVersion</key>
  <string>4.0.1</string>

  <key>CFBundleSignature</key>
  <string>????</string>

  <key>CFBundleExecutable</key>
  <string>Digitalcoin-Qt</string>

  <key>CFBundleIdentifier</key>
  <string>org.digitalcoinfoundation.digitalcoin-Qt</string>

  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLName</key>
      <string>org.digitalcoin.digitalcoinPayment</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>digitalcoin</string>
      </array>
    </dict>
  </array>

  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>org.digitalcoin.paymentrequest</string>
      <key>UTTypeDescription</key>
      <string>digitalcoin payment request</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.mime-type</key>
        <string>application/x-digitalcoin-payment-request</string>
        <key>public.filename-extension</key>
        <array>
          <string>digitalcoinpaymentrequest</string>
        </array>
      </dict>
    </dict>
  </array>

  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>org.digitalcoin.paymentrequest</string>
      </array>
      <key>LSHandlerRank</key>
      <string>Owner</string>
    </dict>
  </array>

  <key>NSPrincipalClass</key>
    <string>NSApplication</string>

  <key>NSHighResolutionCapable</key>
    <string>True</string>
  <key>LSApplicationCategoryType</key>
    <string>public.app-category.finance</string>
</dict>
</plist>
